*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(220, 226, 255);
    color: black;

}

.title {
    text-align: center;
    margin-bottom: 4rem;
}

.title p {
    width: 80%;
    margin: 0 auto;
}

.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

.about-center {
    display: flex;
    
}

.about-img {
    margin-bottom: 2rem;
}

.about-img img {
    border-radius: 12px;
    object-fit: cover;
    height: 20rem;
}

.about {
    background: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.btn-container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tab-btn:nth-child(1) {
    border-top-left-radius: 12px;
}

.tab-btn:nth-child(3) {
    border-top-right-radius: 12px;
}

.tab-btn {
    padding: 1rem 0;
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    display: block;
    background: rgb(153, 153, 153);
    cursor: pointer;

}

.tab-btn:hover:not(.active) {
    background: blue;
    color: white;
}

.about-content {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 2rem 1.5rem;
}


.content {
    display: none;
}

.tab-btn.active {
    background: white;
}

.content.active {
    display: block;
}