* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.counter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter-value{
    padding: 1rem;
}
.decrement,
.increment {
    padding: 0.5rem 2rem;
    font-size: 16px;
}


.decrement{
    background-color: red;
    color: white;
    border: none;
    
}

.increment{
    background-color: green;
    color: white;
    border: none;
}

.addValue{
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin: 1rem;
}


.addValue-btn{
    border: none;
    background-color: orange;
    padding: 0.5rem 2rem;
    font-weight: 700;
}


.reset{
    padding: 0.5rem 2rem;
    background-color: orangered;
    border: none;
    color: white;
    margin: 1rem;

}